[submodule "pommerman"]
	path = pommerman
	url = git@github.com:guikarist/pommerman.git
[submodule "AlphaGoZero/sim_agent"]
	path = AlphaGoZero/sim_agent
	url = git@github.com:guikarist/sim-agent.git
